<form action="/links" method="post">
  <label for="title">Title</label>
  <input type="text" name="title">
  <label for="link">Link</label>
  <input type="text" name="link">
  <label for="tag">Tag</label>
  <input type="text" name="tag">
  <input type="submit" value="Submit">
</form>
