
<h1>Links</h1>
<br />
<% @bookmarks.each do |link| %>
  <p><%= "#{link.title}: #{link.link}" %></p>
<% end %>
<form action='/links/new' method='get'>
  <input type='submit' value='Add link'/>
</form>
