
<h1>Links</h1>
<br />
<% @bookmarks.each do |link| %>
  <% if link.tags.map(&:category).to_s.include? 'Bubbles' %>
    <p><%= "#{link.title}: #{link.link} #{link.tags.map(&:category).to_s}" %></p>
  <% end %>
<% end %>
<form action='/links/new' method='get'>
  <input type='submit' value='Add link'/>
</form>
